@{
    ViewBag.Title = "PiHomeAutomation";
}

<div class="jumbotron">
    <h1>PiHomeAutomation Project</h1>
    <h3>@Html.ActionLink("Sensor Graph", "Graph", "HTSensors", new { sensorName = "LivingRoom01" }, new { @class = "btn btn-default" })</h3>
    <h3>@Html.ActionLink("See Sensor Data", "Index", "HTSensors", null, new { @class = "btn btn-default" })</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="lead">This project is personal project that monitors temperature and humidity and show the data using Raspberry Pi.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>